<ion-view view-title="Shift">
  <ion-content>

<div  style="background-color: #4881ea; height:700px ">

      <div class="container">
        <div class="page-header">
          <h1 class="bob3" style="text-align: center; font-size: 60px; margin:0 " > Shift </h1>
        </div>
      </div>

    <br>

    <img ng-hide="imageSaved" class="img-circle" style=" margin-left: auto; margin-right: auto;
    display: block;" src="img/images-3.jpeg" >

      <div class="row">
        <div class="col-*-*"></div>
        <div> </div>
      </div>
{{blue}}
      <button ng-click="emitACK()">pressed2</button>
      <button ng-click="ferretblock()">blockhead!</button>

  <!--
      <div class="bob3" style="width:300px; margin: 0 auto; ">
          <br> <br>
          <a href="/#/signup" type="button" style="width:300px; padding-left:30px;" class="btn btn-primary">
            <span  style="font-size: 25px;"> Sign Up </span>
          </a>
          <button ng-click="loginModal()" type="button" style="width:300px; margin: 0 auto;" class="btn btn-primary">
            <spans  style="font-size: 25px;"> Log In </span>
          </button>
      </div>
 -->
 <div class="bob3" style="width:300px; margin: 0 auto; ">
    </br> </br>
    <a href="#/app/signup" style="width:300px; margin: 0 auto;"  class="button button-large button-calm">
    Sign Up
    </a>
      </br> </br>
      <button style="width:300px; margin: 0 auto;" ng-click="loginMod()" class="button button-large button-calm">
        Log In
      </button>
    </div>


      <!-- MODAL BEGINS -->
      <!--
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class=" bob3" style="font-size: 30px; text-align:center ">Login</h1>

                </div>
                  <div class="modal-body ">
                        <div class="form-group bob3">
                          <label for="usr" style="font-size:30px">Email:</label>
                          <input type="text" class="form-control" ng-model="email" id="usr">
                        </div>
                        <div class="form-group bob3">
                          <label for="pwd" style="font-size:30px">Password:</label>
                          <input type="password" class="form-control" ng-model="password" id="pwd">
                        </div>
                  </div>
                  <div class="modal-footer ">
                      <div style="font-size: 20px;   text-align:left ">
                        <button type="button" style="width:100%"  ng-click="ServiceFunction5()"
                         data-dismiss="modal" class="btn btn-primary">
                         Log In
                       </button> <br>
                      </div>

                  </div>


          </div>
        </div>
      </div>
-->
<!--  MODAL ENDS-->

</div>

</ion-content>
</ion-view>
