<ion-view view-title="Browse">
  <ion-content>

  <h2 style="text-align: center;"> Sign in using your social accounts </h2>

        <div style="text-align: center; ">
            <img src="img/facebook.png" >
            <img src="img/google.png" >
            <img src="img/twitter.png" >
            <!--    <img src="img/twitter.png" >
                <img src="img/google.png" >
                <img src="img/github.png" >
                <img src="img/linkedin.png" >  -->
        </div>


        <h3 style="text-align: center;"> Or With Your Email: </h2>



           <div class="list">
             <label class="item item-input item-stacked-label">
               <span class="input-label">First Name</span>
               <input type="text" ng-model="fname.fname1" placeholder="First">
             </label>
             <label class="item item-input item-stacked-label">
               <span class="input-label">Last Name</span>
               <input type="text" ng-model="lname.lname1" placeholder="Last">
             </label>
             <label class="item item-input item-stacked-label">
               <span class="input-label">Email</span>
               <input type="text" ng-model="email.email1" placeholder="john@suhr.com">
             </label>
             <label class="item item-input item-stacked-label">
               <span class="input-label">password</span>
               <input type="password" ng-model="password.password1" placeholder="*******">
             </label>
             <label class="item item-input item-stacked-label">
               <span class="input-label">passwordConf</span>
               <input type="password" ng-model="passwordConf.passwordConf1" placeholder="****">
             </label>
             <button style="margin-bottom:50px;width:200px; margin-top:40px;" ng-click="ServiceFunction4()" class="button button-block button-positive">
               Signup
             </button>

           </div>
           <div >
           </div>

           <!--
    <form name="formValidation" class="list" style="width:400px; margin: 0 auto; ">

          <h4 style="text-align: left;">First Name</h4>
          <label > <input type="text" style="width:400px; height:40px;" ng-model="fname"   placeholder="First Name" required></label>

          <h4 style="text-align: left;">Last Name</h4>
            <label > <input type="text" style="width:400px; height:40px;" ng-model="lname" placeholder="Last Name" required></label>

            <h4 style="text-align: left;">Email</h4>
          <label > <input type="text" style="width:400px; height:40px;" ng-model="email" placeholder="Email"></label>

          <h4 style="text-align: left;">password</h4>
          <label > <input name="password" type="password" style="width:400px; height:40px;" ng-model="password" placeholder="password"></label>

          <h4 style="text-align: left;">passwordConf</h4>
            <label> <input type="password"  style="width:400px; height:40px;" ng-model="passwordConf" placeholder="passwordConf"></label>

            </br>   <br>
            <button href="" ng-click="ServiceFunction4()" class="btn btn-primary">Sign Up</button>

    </form>

  -->
  </ion-content>
</ion-view>
